@media (max-width: 500px){
    h1{
        display: flex;
        flex-wrap: wrap; /* Ensure items wrap on small screens */
        flex-direction: row;
    }
    h2{
        display: flex;
        flex-direction: row;
        font-size: 1em; /* Make font smaller for small screens */
    }
    img{
        justify-content: center; /* centers image when screen small */
        width: 80vw; 
    }
    #byColour{
        flex-direction: column;
    }
    #vd1_band,
    #vd1_sband,
    #vd2_band,
    #vd2_sband,
    #sband,
    #band {
        width: 1em;
        height: 6em;
        justify-items: center; 
    }/* formatting for bands to scale with image*/

}
img{
    width: 100%;
}

label,
input,
h2 {
    font-size: 1.5em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    white-space: nowrap;
}
h1{
    font-size: 2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    white-space: nowrap;
}
select {
    font-size: 1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#resultValue{
    font-size: 1em;
}

.resistor-container {
    position: relative;
    display: inline-block; /* Keeps the container only as wide as the image */
  }
  
  .band {
    position: absolute;
    /* Default size and style for the bands*/
    width: 3%;
    height: 37%;
    background-color: transparent; 
  }
  .sband {
    position: absolute;
    /* Default size and style for the bands*/
    width: 3%;
    height: 31%;
    background-color: transparent;
  }
  
  /* band loactions for main page resistor*/
  .band1 { top: 31%; left: 32%; }
  .band2 { top: 34%; left: 42%; }
  .band3 { top: 34%; left: 55%; }
  .band4 { top: 31%; left: 65%; }


  .vd1_band {
    position: absolute;
    /* Default size and style for the bands. Sets default band red*/
    width: 1.5%;
    height: 25%;
    background-color: red; 
  }
  .vd1_sband {
    position: absolute;
    /* Default size and style for the bands. Sets default band black*/
    width: 1.5%;
    height: 20%;
    background-color: black; 
  }

  .vd2_band {
    position: absolute;
    /* Default size and style for the bands. Sets default band red*/
    width: 1.5%;
    height: 25%;
    background-color: red;
  }
  .vd2_sband {
    position: absolute;
    /* Default size and style for the bands. Sets default band black*/
    width: 1.5%;
    height: 20%;
    background-color: black;
  }


  /* band loactions for voltage divider resistor*/
  .band5 { top: 24%; left: 18%; }
  .band6 { top: 26%; left: 23%; }
  .band7 { top: 26%; left: 28%; }
  .band8 { top: 24%; left: 34%; }
  .band9 { top: 24%; left: 65%; }
  .band10 { top: 26%; left: 70%; }
  .band11 { top: 26%; left: 75%; }
  .band12 { top: 24%; left: 81%; }

/* Flex container for the colour mode inputs and the result */
#byColourContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}

#byColourSelections {
    flex: 1;
    flex-direction: row;
}

/* Aside to display the calculated resistance and tolerance */
aside#resistorResult {
    flex: 1;
    border: 2px solid white;
    padding: 10px;
    background: #3C096C;
    color: white;
    border-radius: 25px;
}
#result{
    flex: 1;
    border: 2px solid white;
    padding: 10px;
    background: #3C096C;
    color: white;
    border-radius: 25px;
}

/* Aside to display the calculated resistance and tolerance */
aside#result {
    flex: 1;
    border: 2px solid black;
    padding: 10px;
}

/* navigation header styling */
.header{
    border-radius: 0px 0px 25px 25px;
    background-color: lightgrey;
}

/*Button and button animation settings*/
.container-eg-btn-2 {
    font-family: sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto 10px;
    padding: .5em;
    line-height: normal;
}
.container-eg-btn-2 .button {
    color: black;
    background: lightgray;
    margin: 10px;
    padding: 12px 15px;
    border-radius: 15px;
    border: 2px solid black;
    text-align: center;
    text-transform: uppercase;
    position: relative; 
    overflow:hidden; 
    transition: .3s;
    z-index: 1;
}
.container-eg-btn-2 .button:hover {
    cursor: pointer;
    color: white;
}
.container-eg-btn-2 .button-6:before {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    bottom: 0;
    background: #3C096C;
    height: 120%;
    left: -10%;
    transform: skewX(20deg);
    z-index: -1;
}
.container-eg-btn-2 .button-6:hover:before {
    width: 62%;
}
.container-eg-btn-2 .button-6:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    right: 50%;
    bottom: 0;
    height: 4px;
    background: #3C096C;
}
.container-eg-btn-2 .button-6:after {
    height: 120%;
    right: -10%;
    transform: skewX(20deg);
    z-index: -1;
}
.container-eg-btn-2 .button-6:hover:after {
    width: 62%;
}
 /*For animation timing of button*/
@keyframes circle-left{
  0% {
    left: -20px;
}

50% {
    left: 50%;
    width: 20px;
    height: 20px;
}
100% {
    left: 50%;
    width: 375px;
    height: 375px;
}
}
.container-eg-btn-2 .button-8:hover:after {
    -webkit-animation: circle-right 0.7s both;
    animation: circle-right 0.7s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
@keyframes circle-right{
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}